h3 {
    font-weight: bold;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.my-hr {
    border: 2px solid blue !important;
    height: 100%;
    width: 100%;
}

/* .bighr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 2px dimgrey !important;
    height: 5px !important;
    width: 100%
} */